.modifed_hr{
    top:0px;
    margin-bottom:0px;
}
.us{
    text-align:center;
}

#content {
    margin-top: 70px;
    margin-bottom: 30px;
}

.profilePic {
    width: 100%
}

#statistics-container {
    margin-top: 50px;
}

#badges-container {
    min-width:400px;
}

.panel-body {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.badge {
    margin-bottom: 37px;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    background: transparent;
    white-space: normal !important;
    max-widh: 140px;
}

.badge img{
    /*width: 110px !important;
    height: 110px;*/
    width: 100%;
    max-width: 140px;
    max-height: 140px;
}

.badgeTitle, .badgeDesc {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    margin:90px auto 0 0px;
    background: #5f5f5f repeat;
    border-radius: 15px;
    color: #fff;
    background: url(../images/bg_2.png) repeat;
    border:3px solid #ccc;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    min-width: 80%;
    max-width: 80%;
    background-color: #b0e0e6;
    text-align: center;

}

.badgeTitle {
    visibility: visible;
    opacity: 1;
}

.badgeDesc {
    /*margin-top: 100px;*/
    /*width: 250px;*/
    z-index: 99999999999!important;
}

.clear {
    clear: both;
}

.badge:hover > .badgeTitle {
    /* display: block;*/
    /*  opacity: 0;*/
    /*visibility: hidden;*/
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.badge:hover > .badgeDesc {
    /* display: block;*/
    /*  opacity: 0;*/
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: 15px;
    font-size: 12px;
}


.badge.disabled {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* For Webkit browsers */
    filter: gray; /* For IE 6 - 9 */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.profileContainer {
    width:800px;
    margin: 0 auto;
}

#sidebar {
    padding-left: 0 !important;
}

/*.row.double>* {
    padding-left: 0 !important;
}


.row>* {
   padding-left : 20px !important;
   padding-bottom: 10px;
}*/

#level-exp div {
    margin-top: 50px;
    font-size: 1.5em;
}
#level-exp .exp {
    margin-top: 50px;
    font-size: 1em;
}