{% extends "base.html" %}

{% block head-includes %}
    <link rel="stylesheet" href="/static/home/css/style.css">
    <script src="/static/home/js/main.js"></script>
{% endblock %}

{% block content %}
    <div id="header" class="jumbotron my-jb home-jb fill">
      <div class="container">
        <img id="gh-matrix" class="img-responsive github-matrix fixed" src="/static/home/images/github-matrix.png" />
        <h1>Download <span class="text-logo">GitHack</span></h1>
        <p>And let the games begin!</p>
      </div>            
    </div>
    <div class="container">
        <article>
            <section>
                <h2>Client prerequisites</h2>
                <p>Install git, gcc, python and vim</p>
            </section>
            <section>
                <h2>Download GitHack Client</h2>
                <a href="http://ninja.githack.ninja" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-download-alt"></span>Download 15(Kb)</a> 
            </section>
             <section>
                <h2>Client installation</h2>
                <p><ul>
                    <li>Download githack.tar.gz</li>
                    <li>tar -xvf githack.tar.gz</li>
                    <li>cd build_dir && sudo ./install.sh</li>
                    <li>run once(!) githack-init in git repositiory what you what to use</li>
                </ul></p>
            </section>
            <section>
                <p>If something goes wrong you should cleanup ~/.vimrc and .git/hooks/commit-msg</p>              
            </section>
              <br />
                <br />
        </article>
    </div>
{% endblock %}