{% extends "base.html" %}

{% block head-includes %}
<link rel="stylesheet" type="text/css" href="/static/css/account_view.css">
{#<link rel="stylesheet" type="text/css" href="/static/js/account_view.js">#}
{% endblock %}

{% block content %}

    <div id="manage-events" class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <h2>Welcome {{ user.username }}!</h2>
        </div>
        <div class="row">
            <div class="container">

                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">My HackaCities</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                    <div class="special badge">
                                        <div class="badgeDesc">1st badge</div>
                                        <div class="clear"></div>
                                        <img src="/static/images/badge1.png" alt="">
                                    </div>
                                    <div class="special badge disabled">
                                        <div class="badgeDesc">1st badge</div>
                                        <div class="clear"></div>
                                        <img src="/static/images/badge2.png" alt="">
                                    </div>
                                    <div class="special badge disabled">
                                        <div class="badgeDesc">2nd badge</div>
                                        <div class="clear"></div>
                                        <img src="/static/images/badge3.png" alt="">
                                    </div>
                                    <div class="special badge disabled">
                                        <div class="badgeDesc">3rd badge</div>
                                        <div class="clear"></div>
                                        <img src="/static/images/badge4.png" alt="">
                                    </div>
                                    <div class="special badge disabled">
                                        <div class="badgeDesc">4th badge</div>
                                        <div class="clear"></div>
                                        <img src="/static/images/badge5.png" alt="">
                                    </div>
                                    <div class="special badge disabled">
                                        <div class="badgeDesc">5th badge</div>
                                        <div class="clear"></div>
                                        <img src="/static/images/badge6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <div class="col-md-3">
                            <div class="profilepicture"> {% autoescape off %} {{ user.get_profile.image_tag }} {% endautoescape %} </div>

                            <div class="mainuserclass col-md-8">
                                <div class="nameclass label label-primary">Your Username: {{ user.username }} </div><br>
                                <div class="nameclass label label-primary"> Your First Name: {{ user.first_name }} </div><br>
                                <div class="nameclass label label-primary"> Your Last Name: {{ user.last_name }} </div><br>
                                <div class="nameclass label label-primary"> Your Email: {{ user.email }} </div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}