{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h1 class="page-header">Change password</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well" style="margin-top: 50px">
                <form id="add-event-form" class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <fieldset style="border: none;">
                        {% if form.errors %}
                        <div class="alert alert-dismissable alert-danger">
                            {{ form.errors }}
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="add-event-form-password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input id="add-event-form-password" name="old_password" class="form-control" type="password" placeholder="Old Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add-event-form-confirmation" class="col-md-3 control-label">Confirm Password</label>
                            <div class="col-md-9">
                                <input id="add-event-form-confirmation" name="new_password" class="form-control" type="password" placeholder="New Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-primary" type="submit" value="login">Update</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}