{% extends "base.html" %}

{% block head-includes %}
    <link rel="stylesheet" href="/static/home/css/style.css">
    <script src="/static/home/js/main.js"></script>
{% endblock %}

{% block content %}
    <div id="header" class="jumbotron my-jb home-jb fill">
      <div class="container">
        <img id="gh-matrix" class="img-responsive github-matrix fixed" src="/static/home/images/github-matrix.png" />
        <h1>Sign in to <span class="text-logo">GitHack</span></h1>
        <p>And keep on coding!</p>        
      </div>            
    </div>
    <div class="container">
        <form class="form-horizontal my-form">
            <fieldset>          
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="username">Username</label>               
              <div class="col-lg-6 col-md-6 col-sm-6">
              <input id="username" name="username" type="text" placeholder="username" class="form-control input-lg" required="required">
                
              </div>
            </div>
            
            <!-- Password input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="password">Password</label>              
              <div class="col-lg-6 col-md-6 col-sm-6">
                <input id="password" name="password" type="password" placeholder="password" class="form-control input-lg" required="required">
                
              </div>
            </div>
            
            <!-- Button -->
            <div class="form-group">
             <label class="col-sm-2 control-label" for="submit"></label>               
              <div class="col-sm-3">
                <button id="submit" name="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-log-in"></span>Sign in</button>
              </div>
                <div class="col-sm-3">
                    <a href="{% url 'socialauth_begin' 'github' %}" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-user"></span>With GitHub</a>
                </div>
            </div>
            
            </fieldset>
        </form>
    </div>
{% endblock %}
