
    <div id="header" class="jumbotron my-jb home-jb">
        <div class="container">
            <img id="gh-matrix" class="img-responsive github-matrix fixed" src="/static/home/images/github-matrix.png" />
            <h1>Sign up to <span class="text-logo">GitHack</span></h1>
            <p>And start coding!</p>
        </div>
    </div>

    <div class="container"> 
        <form class="form-horizontal my-form">
            <fieldset>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinputemail">Email</label>  
              <div class="col-sm-6">
              <input id="textinputemail" name="username" type="text" placeholder="user@example.com" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="first-name">First name</label>  
              <div class="col-sm-6">
              <input id="first-name" name="first_name" type="text" placeholder="Sherlock" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="last-name">Last name</label>  
              <div class="col-sm-6">
              <input id="last-name" name="last_name" type="text" placeholder="Holmes" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Password input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="password">Password</label>
              <div class="col-sm-6">
                <input id="password" name="password" type="password1" placeholder="12345" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Password input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="confirm-password">Confirm Password</label>
              <div class="col-sm-6">
                <input id="confirm-password" name="password2" type="password" placeholder="12345" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Button -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="submit"></label>
              <div class="col-sm-6">
                <button id="submit" name="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-user"></span>Sign up</button>
              </div>
            </div>
            
            </fieldset>
        </form>           
    </div>
    
     <div class="footer">
        <div class="container">
            <div class="outer-center">
                <div class="inner-center">
                    <div class="social">
                        <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
                        <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                        <a class="btn btn-social-icon btn-vk"><i class="fa fa-vk"></i></a>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <footer>
                                <p>&copy; Copyright 2014 GitHack</p>
                            </footer>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    
    
     <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../GitHack.ninja/js/bootstrap.min.js"></script>
     <!-- Other JavaScript --!>
    <script src="js/main.js"></script>  
  </body>
</html>