{% extends "base.html" %}

{% block head-includes %}
    <link rel="stylesheet" href="/static/home/css/style.css">
    <script src="/static/home/js/main.js"></script>
{% endblock %}

{% block content %}
    <div id="header" class="jumbotron my-jb home-jb">
        <div class="container">
            <img id="gh-matrix" class="img-responsive github-matrix fixed" src="/static/home/images/github-matrix.png" />
            <h1>Sign up to <span class="text-logo">GitHack</span></h1>
            <p>And start coding!</p>
        </div>
    </div>

    <div class="container"> 
        <form class="form-horizontal my-form">
            <fieldset>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinputemail">Email</label>  
              <div class="col-sm-6">
              <input id="textinputemail" name="username" type="text" placeholder="user@example.com" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="first-name">First name</label>  
              <div class="col-sm-6">
              <input id="first-name" name="first_name" type="text" placeholder="Sherlock" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="last-name">Last name</label>  
              <div class="col-sm-6">
              <input id="last-name" name="last_name" type="text" placeholder="Holmes" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Password input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="password">Password</label>
              <div class="col-sm-6">
                <input id="password" name="password" type="password" placeholder="12345" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Password input-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="confirm-password">Confirm Password</label>
              <div class="col-sm-6">
                <input id="confirm-password" name="password2" type="password" placeholder="12345" class="form-control input-md" required="">
                
              </div>
            </div>
            
            <!-- Button -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="submit"></label>
                <div class="col-sm-3">
                    <button id="submit" name="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-log-in"></span>Sign in</button>
                </div>
                <div class="col-sm-3">
                    <a href="{% url 'socialauth_begin' 'github' %}" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-user"></span>With GitHub</a>
                </div>
            </div>
            
            </fieldset>
        </form>           
    </div>
{% endblock %}