{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h1 class="page-header">Register</h1>
                </div>
                <h1>Find the most Awesome events around you!</h1>
            </div>
            <div class="col-md-6">
                <div class="well" style="margin-top: 50px">
                    <form id="add-event-form" class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <fieldset style="border: none;">
                            <legend>To login with Facebook click <a class="btn btn-primary" href='{% url 'socialauth_begin' 'facebook' %}'>here</a></legend>
{#                            <legend>To login with VK click <a class="btn btn-primary" href="{% url 'socialauth_begin' 'vkontakte-oauth2' %}">here</a></legend>#}
                            {% if form.errors %}
                                <div class="alert alert-dismissable alert-danger">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="add-event-form-username" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9" style="padding-bottom: 20px;">
                                    <input id="add-event-form-username" name="username" class="form-control" type="text" placeholder="user@example.com">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="add-event-form-first-name" class="col-md-3 control-label">First Name</label>
                                <div class="col-md-9">
                                    <input id="add-event-form-first-name" name="first_name" class="form-control" type="text" placeholder="First Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="add-event-form-last-name" class="col-md-3 control-label">Last Name</label>
                                <div class="col-md-9" style="padding-bottom: 20px;">
                                    <input id="add-event-form-last-name" name="last_name" class="form-control" type="text" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="add-event-form-password" class="col-md-3 control-label">Password</label>
                                <div class="col-md-9">
                                    <input id="add-event-form-password" name="password1" class="form-control" type="password" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="add-event-form-confirmation" class="col-md-3 control-label">Confirm Password</label>
                                <div class="col-md-9">
                                    <input id="add-event-form-confirmation" name="password2" class="form-control" type="password" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-primary" type="submit" value="login">Sign Up</button>
                                </div>
                            </div>

                            <input type="hidden" name="next" value="/accounts/login/" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}