@font-face {
    font-family: Hacked;
    src: url(../fonts/HACKED.ttf);   
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
/* Responsive video
-------------------------------------------------- */

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
  width:100%;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

@media (min-width:640px) {
    .video-tut {
       width:640px;
    }
}

/****************************************************/

.fill { 
    min-height: 100%;
    height: 100%;
}

.text-centered {
    text-align: center !important;
}

.navbar-brand {
    font-family: Hacked;
     letter-spacing: 2px;
}

.container {
    max-width: 950px;
}

.home-jb {
   /* background-color: #0d0d0d;*/ 
   
    -moz-transition: background-image 2s ease-in-out;
    -webkit-transition:background-image 2s ease-in-out;
    -o-transition: background-image 2s ease-in-out;
    -ms-transition:background-image 2s ease-in-out;   
    transition: background-image 2s ease-in-out;
   
   background: url(../images/header_0.jpg) repeat;
  /* background: rgba(80, 125, 200, 0.55);*/
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
    
    
}

.home-jb.ready {
    background-image: url(../images/header.png);
     /*-webkit-transition: background 4s linear;
    -moz-transition: background 4s linear;
    -o-transition: background 4s linear;
    transition: background 4s linear;*/
  /* background: rgba(100, 125, 175, 0);*/
  
}

.blur {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
     -moz-transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    -ms-transition: all 2s ease-in;   
    transition: all 2s ease-in;
}

.unblur {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
     -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;   
    transition: all 1s ease-out;
}

.scaleUp {
     -webkit-transform: scale(1.15,1.15);
     -webkit-transition-timing-function: ease-in-out;
     -webkit-transition-duration: 1s;
     -moz-transform: scale(1.15,1.15);
     -moz-transition-timing-function: ease-in-out;
     -moz-transition-duration: 1s;
     -o-transform: scale(1.15,1.15);
     -o-transition-timing-function: ease-in-out;
     -o-transition-duration: 1s;
     -ms-transform: scale(15.1,1.15);
     -ms-transition-timing-function: ease-in-out;
     -ms-transition-duration: 1s;    
     transform: scale(1.15,1.15);
     transition-timing-function: ease-in-out;
     transition-duration: 1s;    
    
}

.scaleDown {
     -webkit-transform: scale(1,1);
     -webkit-transition-timing-function: ease-in-out;
     -webkit-transition-duration: 1s;
     -moz-transform: scale(1,1);
     -moz-transition-timing-function: ease-in-out;
     -moz-transition-duration: 1s;
     -o-transform: scale(1,1);
     -o-transition-timing-function: ease-in-out;
     -o-transition-duration: 1s;
     -ms-transform: scale(1,1);
     -ms-transition-timing-function: ease-in-out;
     -ms-transition-duration: 1s;    
     transform: scale(1,1);
     transition-timing-function: ease-in-out;
     transition-duration: 1s;    
    
}

.my-jb {
   padding: 30px 0; 
}

.my-jb h1 {
    margin-top: 0;
}

.home-jb h1, .home-jb p, .home-jb h2 {
    color: #fff;
    text-align: inherit !important;
}

.my-jb h1, .my-jb h2 { 
    text-align: center;
}

.my-jb-margin {
    margin-top: 40px;
}

.jb-white {
    background: #fff;
    color:#333;
}

.text-white {
    color:#fff;
}

.my-jb h1, .h1-rsp {
    font-size:50px;
}

#gh-matrix {
    opacity: 0;
    -moz-transition: opacity 2s ease-in-out;
	-webkit-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
}

#gh-matrix.ready {
    opacity: 1;
}

.github-matrix {
    max-height: 100px;

}
.github-matrix.fixed {
    max-height: 130px;
}
@media (min-width: 768px) {
   .github-matrix {
        max-height: 160px;
    } 
}

@media (min-width: 992px) { 
    .my-jb h1, .h1-rsp {
        font-size:70px;
    }
    
    .github-matrix {
        max-height: 200px;
    }
}

@media (min-width: 1200px) {

    /*.home-jb h1, .h1-rsp {
        font-size: 70px !important;
    }*/
    
    .home-jb p {
        font-size: 30px !important;
    }    
}

.text-logo {
    font-family: Hacked; letter-spacing: 2px;
}


.github-matrix {
    /*background: url(../images/github-matrix.png);
    width:200px;
    height: 242px;*/
   /* position: absolute;*/
    float: right;
    /*max-height:200px;*/
}

@media (max-width: 480px) {
    .home-jb h1, .home-jb p, .home-jb h2 {
        color: #fff;
        text-align: center !important;
    }
    .github-matrix {
        margin:0 auto;
        float:none;
    }   
}



@media (max-width: 768px) {
    
    .my-form button, .my-form input[type=button], .my-form input[type=reset], .my-form input[type=submit], .my-form .btn {
        width: 100%;
        margin-top: 5px;
    }
   
    .home-container {    
         overflow-y: hidden;
         overflow-x: auto;
        -ms-overflow-y: hidden;
    }
    .home-row {
      width: 750px;    
    }
}

.home-card {
    background: #f5f5f5;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    /*border: 1px solid #ccc;*/
}

.home-card .thumbnail {
    /*-webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;*/
    background: #f5f5f5
}

.githack-img-info {
    max-height:287px;
    overflow:hidden;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}


/*TOP GITHACKERS*/
/*TOP GITHACKERS*/
/*TOP GITHACKERS*/
/*TOP GITHACKERS*/
.top-githack-container {
    text-align: center;
    margin: auto auto;
}
.top-githack-user h4 {
    /*height: 50px;*/
}
.top-githack-img-container {
    /*max-height: 200px;*/
    padding-bottom: 20px;
}
.top-githack-user img {
    width: 80%;
    /*max-height: 180px;*/
    margin: auto auto;
}

.home-card .card-text {
    /*padding:5px;*/
    padding: 0 10px 10px 10px;
}
.top-githack-user {
    margin: 0px 10px 0px 10px;
}
.home-card.anim {
    
}

@media (min-width: 768px) { 
    .form-signup {
        width: 450px;
        margin: 0 auto;
    }
}

.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}

.home-buttons {
    margin-top: 10px;
}

.btn-margin {
    margin-right: 20px;
}

.social {
    margin-top: 30px;
}


#mc_embed_signup {
    margin-bottom: 20px;
}

.nav .glyphicon {
    margin-right: 5px;
}

button .glyphicon {
    margin-right: 7px;
}
@media (min-width: 768px) {
    .my-col {
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.img-brand {
    margin-right: 40px;
    float: left;
}

.img-brand.lunacloud {
    max-width: 270px;
}

@media (max-width: 992px) {
    .img-brand {
        float:none;
        margin:0 0 20px 0
    }
    
    .img-brand:last-of-type {
        margin-bottom: 0;
    }
}

