#content {
    margin-top: 40px;
}
.nameclass {
    line-height: 30px;
    font-size: 1em;
}

.footer {
    bottom: 0;
    width: 100%;
    /* padding: 6em 0 6em 0;*/
    background-color: #0d0d0d;
    background: url(/static/home/images/header.png);
    background-attachment: fixed;
    color: #fff;

    /*position: relative;*/
    margin-top: -20px; /* negative value of footer height */
    clear:both;
    text-align: center;
}
